@font-face{
    font-family: quicksandregular;
    src:url(../fonts/quicksand-regular.ttf);
}
@font-face{
    font-family: quicksandlight;
    src:url(../fonts/quicksand-light.ttf);

}
@font-face{
    font-family: quicksandmedium;
    src:url(../fonts/quicksand-medium.ttf);

}
html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: #f0f2f2;
}

.allContent_Container{
    position: relative;
    /*border:1px solid red;*/
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 580px;
    justify-content: space-between;
    /*border-top: 1px solid #aaaaaa;*/
    /*background-image: url("../img/cai_backdropthree.png");*/

}

.pageDiv_controlContainer{
    width: 100%;
    /*left: 0;*/
    background-color: #f0f2f2;
    /*align-items: center;*/
    /*border: 1px solid black;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.pageLbl{
    font-family: quicksandlight;
    font-size: 18px;
    color: #6f7071;
    margin-left: 40px;
    /*border: 1px solid red;*/

}
.mainWrapper_multiplication{
    order: 1;
    /*border: 1px solid red;*/
    position: relative;
   flex-basis: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*justify-content:flex-start;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 5px #f0f2f2;
    transition: 0.3s;
    animation-name: animateTop;
    animation-duration: 0.4s
}

.subWrapper_multiplication{
    background-image: url("../img/multiplication.png");
    /*border: 1px soli.d black;*/
    margin: 15px;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    order:1;
}

.scoreContainer_multiplication{
    /*border: 1px solid red;*/
    order:2;
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: quicksandmedium;
    font-size: 15px;
    color: #6f7071;
    display: flex;
}

.pageLbl_scores{
    margin-right: 200px;
}

.mainWrapper_division{
     order: 2;
    position: relative;
    flex-basis: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*justify-content:flex-start;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 5px #f0f2f2;
    transition: 0.3s;
    animation-name: animateTop;
    animation-duration: 0.4s
 }

.subWrapper_division{
    background-image: url("../img/division.png");
    /*border: 1px solid black;*/
    margin: 15px;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    order:1;
}

.scoreContainer_division{
    /*border: 1px solid red;*/
    order:2;
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: quicksandmedium;
    font-size: 15px;
    color: #6f7071;
    display: flex;
}

.mainWrapper_fraction{
    order: 3;
    position: relative;
    flex-basis: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*justify-content:flex-start;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 5px #f0f2f2;
    transition: 0.3s;
    animation-name: animateTop;
    animation-duration: 0.4s

}

.subWrapper_fraction{
    background-image: url("../img/fractions.png");
    /*border: 1px solid black;*/
    margin: 15px;
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    order:1;
}

.scoreContainer_fraction{
    /*border: 1px solid red;*/
    order:2;
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: quicksandmedium;
    font-size: 15px;
    color: #6f7071;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.topic_link_Container{
    position: relative;
    order:1;
    /*border: 1px solid orange;*/
    width: 480px;
    margin-left: 15px;
    /*margin-top: 5px;*/
    margin-bottom: 15px;
}

.topic_buttons_Container{
    position: relative;
    order:2;
    /*border: 1px solid darkviolet;*/
    margin-top: 35px;
    margin-right: 30px;
    width: 100%;

}



.topic_link{
    font-family: quicksandmedium;
    font-size: 40px;
    color: white;
}
.topic_link:hover{
    color: #f7efb1;

}

.topic_link_labels{
    font-family: quicksandlight;
    font-size: 20px;
    color: white;
    top: 0;
}
