@font-face{
    font-family: quicksandlight;
    src:url(../fonts/quicksand-light.ttf);

}
@font-face{
    font-family: quicksandregular;
    src:url(../fonts/quicksand-regular.ttf);

}
@font-face{
    font-family: quicksandmedium;
    src:url(../fonts/quicksand-medium.ttf);

}

body{
    background-color: #f0f2f2;
}

.divDashboard_schoolName{
    order: 1;
    /*border: 1px solid black;*/
    flex-grow: 1;
}

.divDashboard_sy{
    order: 2;
    /*border: 1px solid black;*/
    flex-grow: 1;
}


.mainWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.subWrapper{
    position: relative;
    order: 2;
    /*border: 1px solid black;*/
    overflow: scroll;
    height: 600px;
    overflow-x: hidden;
}

.wrapper_schoolName{
    order: 1;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    color: #6f7071;
    font-family: quicksandregular;
}

#pageLbl_Dashboard{
    float: right;
}


.dashboardLbl_count{
    position: relative;
    font-family: quicksandregular;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;
}

.dashboardLbl_name{

    font-family: quicksandlight;
    color: white;
    font-size: 40px;
    /*border: 1px solid red;*/
    margin-top: 70px;
    /*margin-left: -60px;*/
}

/*------------------------------------------------------------*/
.wrapper_menuTiles{
    order: 2;
    height: 180px;
    display: flex;
    /*border: 1px solid blue;*/
    background-color: #fafbfb;
    box-shadow: 1px 5px #f0f2f2;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;

}

.wrapper_studentsStanding{
    order: 3;
    height: 300px;
    /*border: 1px solid blue;*/
    background-color: #fafbfb;
    box-shadow: 1px 5px #f0f2f2;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;

}

.divDashboard_studentCount{
    order: 1;
    flex-basis: 23%;
    /*border: 1px solid red;*/
    background-color: #92c142;
    color: white;
    margin-left: 10px;
}

.divDashboard_sectionCount{
    order: 2;
    flex-basis: 23%;
    background-color: #ffd066;
    color: white;
}

.divDashboard_quizCount{
    order: 3;
    flex-basis: 23%;
    background-color: #ff8b85;
    color: white;
}

.divDashboard_finisherCount{
    order: 4;
    flex-basis: 23%;
    /*border: 1px solid darkgray;*/
    background-color: #f7cac9;
    color: white;
    margin-right: 10px;
}

#menuTileImg_studentCount{
    /*position: relative;*/
    background-image: url("../img/students_white.png");
    background-repeat: no-repeat;
    background-position: right;
    /*border: 1px solid black;*/
    height: 120px;
    width: 120px;
    background-size: 60px 60px;
    float: right;
    margin-top: 30px;
    margin-right: 25px;
    /*border: 1px solid black;*/
}

#menuTileImg_quizCount{
    position: relative;
    background-image: url("../img/teacher_white.png");
    background-repeat: no-repeat;
    background-position: right;
    /*border: 1px solid black;*/
    height: 120px;
    width: 120px;
    background-size: 60px 60px;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
    /*border: 1px solid black;*/
}

#menuTileImg_sectionCount{
    position: relative;
    background-image: url("../img/section_white.png");
    background-repeat: no-repeat;
    background-position: right;
    /*border: 1px solid black;*/
    height: 120px;
    width: 120px;
    background-size: 60px 60px;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
    /*border: 1px solid black;*/
}


#menuTileImg_finisherCount{
    position: relative;
    background-image: url("../img/finisher_white.png");
    background-repeat: no-repeat;
    background-position: right;
    /*border: 1px solid black;*/
    height: 120px;
    width: 120px;
    background-size: 60px 60px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    /*border: 1px solid black;*/
}

/*--------------------------------------------------------------------------*/
.wrapper_scoreDistribution{
    order: 3;
    /*border: 1px solid green;*/
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    background-color: #fafbfb;
    box-shadow: 1px 5px #f0f2f2;
}

.wrapper_graph{
    /*border: 1px solid darkgoldenrod;*/
    margin-left: 20px;
    margin-right: 20px;

}

.pageLbl_divTitle{
    font-family: quicksandregular;
    font-size: 16px;
    color: #6f7071;
    position: relative;
    margin-left: 20px;
    /*border: 1px solid black;*/
}

.pageLine{
    margin-left: 20px;
    margin-right: 20px;
}